body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    main{
        .left{
            display:grid;
            grid-template-columns: 1fr 3fr;
            h1{
            }
        }
        .middle{
            form{
                h2{
                    
                }
                #chce1{
                    
                }
                label{
                    
                }
                #chce2{
                    
                }
                label{
                    
                }
            }
            
        }
        .rigth{
            figure{
                img{
                    
                }
            }
        }
    }
}