html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#homepage {
  background-color: grey;
}
#homepage > header {
  width: 100vw;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr;
}
#homepage > header > figure {
  position: absolute;
  width: 5vw;
  min-width: 60px;
}
#homepage > header > figure > img {
  width: 100%;
}
#homepage > header > h1 {
  color: white;
  font-size: 3rem;
  justify-self: center;
  align-self: center;
}
#homepage > nav {
  position: absolute;
  width: 60vw;
  height: 100vh;
  background-color: purple;
  display: grid;
  z-index: 300;
  transition-duration: 1s;
}
#homepage > nav > figure {
  margin-right: 1vw;
  margin-top: 1vh;
  width: 5vw;
  min-width: 50px;
  height: 5vh;
  justify-self: end;
}
#homepage > nav > figure > img {
  width: 100%;
}
#homepage > nav > ul {
  justify-self: center;
  width: 60%;
  height: 80vh;
  display: grid;
  grid-template-rows: 1.5fr 1.5fr repeat(12, 0.8fr);
  padding: 1rem;
}
#homepage > nav > ul > li {
  font-size: 1.5rem;
}
#homepage > nav > ul > li > h2 {
  font-weight: bold;
  font-size: 2rem;
}
#homepage > nav > ul > li > h5 {
  font-weight: bold;
  font-size: 2rem;
}
#homepage > main {
  padding-top: 2rem;
  width: 100vw;
}
#homepage > main > ul {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.7rem;
}
#homepage > main > ul > li {
  background: url("../../src/img/jpeg/software-developer-full.jpeg");
  background-size: cover;
  height: 18vh;
  list-style-type: none;
  border: 1px solid white;
}
#homepage > main > ul > li > article {
  height: 100%;
  width: 100%;
  font-size: 0rem;
  transition: all 0.7s ease-out;
  opacity: 0.5;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
}
#homepage > main > ul > li > article > h3 {
  align-self: center;
  justify-self: start;
  grid-row: 2/3;
  padding-left: 0.8rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
#homepage > main > ul > li > article > h4 {
  align-self: center;
  justify-self: start;
  grid-row: 3/4;
  padding-left: 0.8rem;
  padding-bottom: 0.5rem;
}
#homepage > main > ul > li > article:hover {
  background-color: red;
  font-size: 1.7rem;
}
#homepage .hide {
  display: none;
}

.smaller {
  animation-name: smaller;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.grow {
  animation-name: grow;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from {
    width: 15vw;
  }
  to {
    width: 60vw;
  }
}
@keyframes smaller {
  from {
    width: 60vw;
  }
  to {
    width: 15vw;
  }
}
/* Ligne de commande pour sass (petit rappel)
sass -w assets/styles/sass:assets/styles/css */

/*# sourceMappingURL=index.css.map */
